<% form_for (:image, :url => '/admin/images/create', :html => {:multipart => true}) do |f| %>                                           
	<%= f.hidden_field :slideshow_id, :value => @slideshow.id %>
	<%= f.hidden_field :bucket, :value => bucket %>                  

  Upload Images <%= f.file_field :uploaded_data %><%= f.submit "Upload" %>         
<% end %>                                                       

<ul class="image-list" id="image-list-<%= bucket %>">
  <% @bucket = @slideshow.images.find(:all, :conditions => ['bucket = ?', bucket]) %>
	<% @bucket.each do |image| %>       
  	<li id="image_<%= image.id %>" class="position_<%= image.position %>">
  	<%= link_to "#{image_tag("admin/icons-small/delete.png")}", "/admin/images/remove/#{image.id}", :confirm => "Are you sure you want to delete this image?" %><br />
  	<%= image_tag(image.public_filename(:thumb)) %>
    </li>
	<% end %>
</ul>

<%= sortable_element "image-list-#{bucket}",
	:url => {:controller => "slideshows", :action => "update_positions", :id => params[:id], :bucket => bucket},
	:constraint => false,
	:complete => visual_effect(:highlight, "image-list-#{bucket}")
%>
<hr />