<% include_javascript 'dragdrop' %>
<% include_stylesheet 'admin/application' %>

<h1><%= action %> Slideshow<% if @slideshow.page_id %>: <%= Page.find(@slideshow.page_id).title %><% end %></h1>

<p><em>Arrange the thumbnails by dragging them in the order you wish.</em></p>

<div id="slideshow-boxes">
  <div id="left-images">
    <h2>Left Slideshow</h2>                                                                      
    <%= render :partial => 'buckets', :locals => {:bucket => 'left'} %>
  </div>
  
  <div id="left-images">
    <h2>Left Slideshow</h2>                                                                      
    <%= render :partial => 'buckets', :locals => {:bucket => 'middle'} %>
  </div>
  
  <div id="left-images">
    <h2>Left Slideshow</h2>                                                                      
    <%= render :partial => 'buckets', :locals => {:bucket => 'right'} %>
  </div>


</div>

<div id="slideshow-page">
  <% form_for(:slideshow, :url => "/admin/slideshows/update/#{params[:id]}", :html => {:multipart => true}) do %>
    <h2>Slideshow Page </h2><%= select(:slideshow, :page_id, @children.all.collect {|p| [p.title, p.id]}) %>
    <p class="buttons">
      <%= save_model_button(@slideshow) %>
      or 
      <%= link_to "Cancel", {:action => :index} %>
    </p>
  <% end %>
</div>