<% include_javascript 'dragdrop' %>
<% include_stylesheet 'admin/application' %>

<div id="slideshow">
  <h1 class="content-title">Slideshow Page: <%= Page.find(@slideshow.page_id).title %></h1>

	<div class="content-links">
		<ul>                                                                        
			<li><%= link_to "#{image_tag ("admin/icons-small/edit.png", :border =>0, :title => 'Edit')}Edit", "/admin/slideshows/edit/#{params[:id]}" %></li>
			<li><%= link_to "#{image_tag ("admin/icons-small/delete.png", :border =>0, :title => 'Delete')}Delete", "/admin/slideshows/remove/#{params[:id]}", :confirm => "Are you sure you want to delete this slideshow?" %></li>
		</ul>                                                                       
	</div>                                                                             
</div>                                                                                                              

<div style="clear: both"></div>

	<ul id="image-list">                               
		<% @slideshow.images.each do |image| %>                                          
	  		<li id="image_<%= image.id %>" class="position_<%= image.position %>">
				<%= image_tag(image.public_filename(:thumb)) %>
			</li>
		<% end %>
	</ul>

</div>