- include_javascript 'dragdrop'
- include_stylesheet 'admin/application'
#slideshow
  %h1.content-title
    =h Page.find(@slideshow.page_id).title
    Slideshow
  .content-links
    %ul
      %li
        = link_to "#{image_tag ("admin/icons-small/edit.png", :border =>0, :title => 'Edit')}Edit", "/admin/slideshows/edit/#{params[:id]}"
      %li
        = link_to "#{image_tag ("admin/icons-small/delete.png", :border =>0, :title => 'Delete')}Delete", "/admin/slideshows/remove/#{params[:id]}", :confirm => "Are you sure you want to delete this slideshow?"
%div{ :style => "clear: both" }

%strong
  Left Slides
%ul#image-list
  - @left.each do |left|
    %li{ :class => "position_#{left.position}", :id => "image_#{left.id}" }
      = image_tag(left.slide.url(:thumb))

%strong
  Middle Slides
%ul#image-list
  - @middle.each do |middle|
    %li{ :class => "position_#{middle.position}", :id => "image_#{middle.id}" }
      = image_tag(middle.slide.url(:thumb))
      
%strong
  Right Slides
%ul#image-list
  - @right.each do |right|
    %li{ :class => "position_#{right.position}", :id => "image_#{right.id}" }
      = image_tag(right.slide.url(:thumb))